  
<container>
  <div class="row">
  <div class="col-4"></div>
    <div class="col-4">
    <h3>Add a new bookmark</h3>
        <%= form_with(model: bookmark, remote: true, class: "add-bookmark-form", id:"form-bm") do |form| %>
          
          <% if bookmark.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(bookmark.errors.count, "error") %> prohibited this bookmark from being saved:</h2>

              <ul>
              <% bookmark.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field">
            <%= form.label :url %>
            <%= form.text_field :url%>
          </div>

          <div class="field">
            <%= form.label :name %>
            <%= form.text_field :name%>
          </div>

          <div class="field">
            <%= form.label :Type %>
            <%= form.collection_select :type_id, Type.all, :id, :name, prompt: true%>
          </div>

          <div class="field">
            <%= form.label :Category %>
            <%= form.collection_select :category_id, Category.all, :id, :name, prompt: true%>
          </div>

          <div class="actions save-bookmark">
          <%= form.submit 'Crear Bookmark', data: {confirm: 'Are you sure?', commit: 'Sure!', title: 'Adding a new bookmark', cancel: 'Cancel'}, class: "btn btn-primary add-bookmark", id: "alerta" %>
          </div>
        <% end %>
      </div>
    </div>
</container>  